DATABASE_URL=mysql://username:password@host:3306/database # password should be percent-encoded
NEXTAUTH_SECRET=doyouknowsigma? # change this!!!
BASE_DOMAIN=domain.tld # Replace this with your server domain