<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>Link Protected | <%= siteName %></title>
    <style>
        body {
            margin: 0;
            font-family: "Inter", sans-serif;
            color: #fff;
        }

        .wrapper {
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
        }
        
        .astronaut {
            filter: drop-shadow(0 16px 16px rgba(255,255,255,0.5));
        }

        @media (min-width: 768px) {
            .inner {
                display: flex;
            }
        }

        .password-form {
            display: flex;
            background-color: rgba(255, 255, 255, 0.75);
            border-radius: 12px;
            padding: 4px 4px 4px 16px;
            transition-duration: 300ms;
        }

        .password {
            background-color: transparent;
            height: 32px;
            width: 100%;
            border: none;
            outline: none;
            padding: 2px;
        }

        .password-form:focus-within {
            background-color: white;
        }

        .button {
            border: none;
            border-radius: 8px;
            background-color: rgb(59 130 246);
            color: white;
            font-weight: bold;
            cursor: pointer;
        }

        .button:hover {
            background-color: rgba(59, 130, 246, 0.8);
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="inner" style="align-items: center; margin-top: -8rem">
            <img src="astronaut.png" height="300" alt="" class="astronaut" />
            <div style="margin-top: -40px;">
                <p style="text-shadow: 0 0 20px #fff; font-size: 2.25rem; font-weight: bold; margin-bottom: 0;">🔒 This link is protected!</p>
                <p style="margin-top: 0.25rem;">Please enter password to proceed.</p>
                <form class="password-form" method="post">
                    <input type="password" name="password" class="password" />
                    <button type="submit" class="button">Submit</button>
                </form>
                <% if (error) { %>
                <p style="margin-top: 0.25rem; color: rgb(239 68 68);">Wrong password! Please try again.</p>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>